<!-- font awesome style sheets -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>

  body {
    position: relative;
    overflow-x: hidden;
  }
  a{
    color : #000000;
    text-decoration: none;
  }
  .sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;  
  }

  .financials {
   background-image: linear-gradient(to top, #dfe9f3 0%, white 40%);
  /*background-color: #f0f0f0;*/
  }

  .page-navigation {
      box-sizing: border-box;
      width: 100%;
      height: 200px;
      padding: 30px 0;
      background-image: url(https://d1nrosdlfy3br.cloudfront.net/assets/single-instrument/all-the-rest-symbols-main-image-f0282160dcd9bd93028f46fb59e526c54f33ec48e552971e095c36d3021bffa4.png);
      background-position: center ;
      background-size: cover
  }
  /*background for company logo*/
  #backgroundGradient{
    background-color: #dfe9f3;
  }
  a:hover{
      text-decoration: none;
  }
  /*this will hide the form to refresh company prices*/
  #hiddenForm {
     visibility: hidden;
  }
  .higher-cols {
    top: -48px;
    position: relative;
  }

</style>

<!-- Wrapper(sidebar) -->
<div id="wrapper">
  
  <!-- Sidebar -->
  <div id="sidePanel"> 
  <%= render(partial: 'side_panel') %>
  </div>

  <!-- Page Content(sidebar) -->
  <!-- <div id="page-content-wrapper"> -->

    <!-- Toggle(sidebar) -->
    <button type="button" class="hamburger animated fadeInLeft is-closed" data-toggle="offcanvas">
      <span class="hamb-top"></span>
      <span class="hamb-middle"></span>
      <span class="hamb-bottom"></span>
    </button>

    <!-- main background header -->
    <div class="page-navigation">
      <div class="container">
        <div class="row">
          <div class="col-md-4"><h1 class="inline text-light"><%= @company.fetch(:company_name) %></h1></div>
          <div class="col-md-4">      
            <center><%= image_tag(@cover, class: 'rounded-circle shadow',width: '100', height: '100')%></center>
          </div>
          <div class="col-md-4 pull-right">
            <%= link_to "Trade #{@company.fetch(:company_name)}", brokers_search_index_path, class: "pull-right mt-3 shadow font-weight-bold btn text-light", style: "background-color: #ffa200; min-width: 190px; max-height:35px" %>
          </div>
        </div>
      </div>
    </div>
    <!-- main company financials -->
    <div class="financials">
      <div class="container">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="higher-cols col-md-5 pt-2" id="livescreen">
            <%= render(partial: 'livescreen') %>
          </div>
            <!-- sentiment and brokers link -->
          <div class="higher-cols col-md-5 pt-2" id="sentimentsRating">
                <%= render(partial: 'sentiment') %>
          </div>
          <div class="col-md-1"></div>
        </div>
      </div>
    </div>
    <div id="backgroundGradient">
    <!-- cards container -->
    <div class="container md-12">
      <div class="row">
        <!-- company biography -->
        <div class="col-md-4" id="company_bio">
          <%= render(partial: 'company_bio') %>
          <!-- paid advert -->
          <div class="sticky mt-4 border-0">
            <img src="https://pbs.twimg.com/media/CrfqS0jUMAAle3g.jpg" class="img-fluid">
          </div>
        </div>
        <!-- company tweets -->
        <div class="col-md-5" id="twitter">
          <%= render(partial: 'twitter') %>
        </div>
        <!-- company based articles -->
        <div class="col-md-3">
          <h5 class="text-muted font-weight-bold text-uppercase">
            Latests news
          </h5>
          <hr>
          <div id="articles">
            <%= render(partial: 'articles') %>
          <div>
         <div class="sticky mt-4 border-0">
              <img src="https://pbs.twimg.com/media/CrfqS0jUMAAle3g.jpg" class="img-fluid">
          </div>
        
        </div>
      </div>
    </div>

    <!-- hidden form to refresh current info -->
    <div class="form-inline" id="hiddenForm"> 
      <%= form_tag search_index_url, remote: true, id: "myForm", method: :get do %> 
      <%= search_field_tag :searchword, params[:searchword], value: @company.fetch(:ticker), class: "form-control m-1" %>
      <%= submit_tag "search", name: :nil, class: "btn btn-danger m-1", id: 'clickButton' %>
      <% end %>
    </div>
  <!-- </div>    /#page-content-wrapper -->
  </div><!-- background color -->
</div>  <!--#wrapper -->

<!-- js for autorefresh -->
<script>
window.onload = function(){
    var button = document.getElementById('clickButton');
    setInterval(function(){
        button.click();
    },60000);  // this will make it click again every 60 seconds
};
</script>
