<!-- font awesome style sheets -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;  
}
.divbackground{
  background-image: url("<%= @cover %>");
  background-size: contain;
  background-repeat: no-repeat;
}

</style>


  <div class="row mb-5 shadow-sm">
    <div class="col-md-2">
    </div>
     <div class="col-md-3 pt-4 pb-3 ">
      <h1 class="font-weight-bold text-uppercase"><%= @company.fetch(:company_name) %></h1> 
      <h5><%= @company.fetch(:ticker) %><h3 class="font-weight-bold"><small>$</small><%= @company.fetch(:price) %></h3><% if @company.fetch(:change_price)[0]=="+" %> <span class="text-success"> <% else %> <span class="text-danger"><% end %>  <%= @company.fetch(:change_price)%></span> <% if @company.fetch(:change_percent)[0]=="+" %> <span class="text-success"> <% else %> <span class="text-danger"><% end %> (<%= @company.fetch(:change_percent) %>)</span> </h5>
      <h6> Sector: <%= @company_sector %></h6>
      <!-- watchlist button Are here -->
        <%= render partial:'watchlist'%>
  </div> <!-- / col-md-3 pt-4 pb-3  -->
  
      
 
    

          
         
  <div class="col-md-4 divbackground pull-right">
    </div>
    <div class="col-md-1">
    </div>  
    <div class="col-md-2 pt-4 pb-3 ">
      <div class="row text-center">  
      <h3 class="font-weight-bold text-uppercase pull-right"><span class="text-success text-center"> <%= @positive %><small>%</small> Bull</span> <br><span class="text-danger text-center"> <%= @negative %><small>%</small> Bear </span></h3>
      <h6><small><em>Figures based on current social sentiment.</em></small></h6>
      </div> <!--row text-center -->
    </div> <!-- / col-md-3 pt-4 pb-3  --> 
  </div> <!-- / col-md-3 pt-4 pb-3  -->



<div class="container md-12" >
  <div class="row">
    <div class="col-md-4">
      <div class="card m-1 shadow">
        <div class="card-body">
          <h5 class="text-muted font-weight-bold text-uppercase">Company BIO <img src="<%= @logo %> %>" class=" rounded-circle pull-right pb-3" style='width:38px;height:38px'></h5>
          <hr>
          <h4 class="card-title"><a href="<%= @company_link %>" title="<%= @company_link %>"><%= @company.fetch(:company_name) %></a></h4>
          <p class="card-text">
            <%= @company_description %>
          </p>
        </div>
      </div>
      <div class="sticky mt-4 border-0">
        <img src="https://pbs.twimg.com/media/CrfqS0jUMAAle3g.jpg" class="img-fluid">
      </div>
    </div>
    <div class="col-md-5">
    <% @tweets.each do |tweet| %>
      <div class="card m-2 p-2 pb-0 mb-0">
        <span><a href="https://twitter.com/<%= tweet.fetch(:username)[1..-1] %>"> <img src="<%= tweet.fetch(:avatar) %>" class='rounded-circle pull-left mr-1' style='width:48px;height:48px'>
        <div class="card-title">
        <strong><%= tweet.fetch(:fullname) %></strong> <small class="text-muted"> <%= tweet.fetch(:when) %> <i class="fab fa-twitter fa-1x text-primary pull-right"> </i><br><%= tweet.fetch(:username) %> </small></a></span>
        </div>
        <div class="">
        <p class="card-text">
            <%= tweet.fetch(:content) %>
          </p>
        </div>
      </div>
      <% end %>
    </div>
    <div class="col-md-3">
      <h5 class="text-muted font-weight-bold text-uppercase">
        Latests news
      </h5>
      <hr>
      <% @articles.each do |article| %>
      <div class="card border-0 mb-0">
        <a href="<%= article.fetch(:link) %>">
          <p class="card-text">  <%= article.fetch(:body) %></p>
          <p class="hint-text text-muted"><%= article.fetch(:source) %> <%= article.fetch(:timeframe) %></p>     
        </a>
        <hr>
      </div>
      <% end %>
      <div class="card sticky mt-4 border-0">
        <img src="https://pbs.twimg.com/media/CrfqS0jUMAAle3g.jpg" class="img-fluid">
      </div>
    </div>
    </div>
  </div>
</div>

        
