               


        

<body class="profile-page sidebar-collapse">
  <div class="page-header header-filter" data-parallax="true" style="background-image: url('https://images.unsplash.com/photo-1470219556762-1771e7f9427d?ixlib=rb-0.3.5&s=9028f438c7c982f8f47c33a92b78439a&auto=format&fit=crop&w=889&q=80');"></div>
    <div class="profile-content">
      <div class="main main-raised">

  
      <div class="container">
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
            <div class="profile">
              <div class="avatar">
               <% if current_user.avatar.present? %>
                    <%= image_tag current_user.avatar.url, alt:"Circle Image" ,class:"img-raised rounded-circle img-fluid" %>
                <% else %>
                    <%= image_tag "kendall.jpg" , alt:"Circle Image" ,class:"img-raised rounded-circle img-fluid" %>
                <% end %>
              </div>
              <div class="name">
                <h3 class="title"><%= current_user.full_name%></h3>
                <h6 class="text-uppercase">Developer</h6>
                <a href="https://www.facebook.com/" class="btn btn-just-icon btn-link btn-dribbble"><i class="fab fa-facebook-f"></i></a>
                <a href="https://twitter.com/" class="btn btn-just-icon btn-link btn-twitter"><i class="fab fa-twitter"></i></a>
                <a href="https://github.com/" class="btn btn-just-icon btn-link btn-pinterest"><i class="fab fa-github"></i></i></a>
              </div> <!--name -->
            </div> <!-- profile -->
          </div> <!-- col-md-6 -->
        </div> <!-- row -->

              <div class="description text-center">
                <p class="text-muted">An artist of considerable range, Chet Faker, the name taken by Melbourne-raised, Brooklyn-based Nick Murphy; writes, performs and records all of his own music, giving it a warm, intimate feel with a solid groove structure. </p>
              </div>

              <div class="row">
              <div class="col-sm-12 mb-5 text-center">
                  <div class="profile-tabs">
                    <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" href="#" role="tab" data-toggle="tab">
                         <i class="fas fa-star"></i> WATCHLISTS
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
                     

                      
                            <div class="card-deck ml-3">
                              <% @watchlists.each do |watchlist| %>
                              <div class="row">
                                <div class="col-sm-3">
                                  <div class="card card-cascade" style="width:20rem;max-width:20rem;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);margin-bottom:20px;">
                                    <div class="card-body" >

                                      <!-- Button float right -->
                                    <div class="row">
                                     <div class="col-md-8 text-center">
                                      <h4 class="card-title"><%= watchlist.fetch(:company_name) %></h4>
                                      <h5><%= watchlist.fetch(:ticker) %></h5> <h3><small>$</small><%= " #{watchlist.fetch(:price)}" %></h3>
                                              <% if watchlist.fetch(:change_price)[0]=="+" %> <span class="text-success font-weight-bold"> <% else %> <span class="text-danger font-weight-bold"><% end %> 
                                              <%= watchlist.fetch(:change_price)%></span> <% if watchlist.fetch(:change_percent)[0]=="+" %> <span class="text-success font-weight-bold"> 
                                              <% else %> <span class="text-danger font-weight-bold"><% end %> (<%= watchlist.fetch(:change_percent) %>)</span></h5>
                                      </div> <!-- col md 8   -->

                                                  <!-- remove watchlist  -->
                                                                
                                              <%# <%= render partial:'application/watchlist'%>
                                         <div class="col-sm-4 pull-right">
                                                <%= form_with(url:  destroy_watchlist_path,method: :delete,local: true) do |form| %>
                                                  <%= form.hidden_field :name, value: watchlist.fetch(:ticker) %>
                                                   <%= form.hidden_field :user_id, value: current_user.id %>
                                                  <div class="actions">
                                                      <%= form.submit "Delete",class:"btn btn-outline-danger" %>
                                                  </div>
                                                <% end %>
                                         </div> <!-- col sm 4   -->
                                      </div> <!-- row   -->
                                      <br>
                                      <!-- Sentiment -->
                                
                                       <div class="container-fluid">
                                          <div class="row pl-2">
                                            <div class="text-muted"><h2><%=  @scores[1] %>%</h2>
                                                <p>SELLING</p>
                                            </div>
                                            <div class="ml-auto pr-2"><h2><%= @scores[0] %>%</h2>
                                                <p>BUYING</p>
                                            </div>
                                          </div>
   
                                      <!-- Another row -->
                                      <div class="row">
                                          <div style="width:<%= @scores[1] - 2 %>%; background-color: #ea4c4c; height: 15px;"></div>
                                          <div class=" ml-auto" style="width:<%= @scores[0] %>%; background-color: #1abb9c; height: 15px;"></div>
                                          <% @scores.shift[0] %>
                                          <% @scores.shift[0] %>
                                              <!-- scores = [positive,negative] shift[1] is take off  arr[0] twice -->
                                      </div> <!--row --> 
                                  </div>     <!--container fluid --> 
                                 

                                              
                                          
                                          </div>      <!--card body -->
                                      </div> <!--card cardcascade -->
                                  </div> <!--card col-3 -->
                              </div> <!--row --> 
                          <% end %>
                        </div> <!--card deck -->
                  </div> <!-- container -->

          </div>  <!-- main -->
      </div>  <!-- profile-content -->
</body>


                     
       <style>

h6{
    margin-top: 10px;
    margin-bottom: 20px;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.title {
  font-weight: 700;
  font-family: "Roboto Slab", "Times New Roman", serif;
  font-size: 1.5625rem;
  margin-top: -10px;
  margin-bottom: 25px;
  min-height: 32px;
}

</style>           


               
                   
   