<% if current_user %>
    <% if current_page?(search_index_path) %>

       <div id="watchlistButton">
        <% if Watchlist.find_by(user_id:current_user.id ,name: @company.fetch(:ticker)) %>
                <%= form_with(url:  destroy_watchlist_path,method: :delete, remote: true, data: { confirm: 'Are you sure?',id:'user_id'}) do |form| %>
                    <%= form.hidden_field :name, value: @company.fetch(:ticker) %>
                        <%= form.hidden_field :user_id, value: current_user.id %>
                        <div class="actions">
                            <%= form.submit "Remove from to watchlist", class: "btn btn-danger", id: "hide" %>
                        </div>
                    <% end %>


            <% else %>
                <%= form_with(url: "/watchlist",method: :post,remote: true) do |form| %>
                <%= form.hidden_field :name, value: @company.fetch(:ticker) %>
                <%= form.hidden_field :user_id, value: current_user.id %>
                    <div class="actions">
                        <%= form.submit "Add to watchlist", class: "btn btn-info", id: "hide" %>
                    </div>
                <% end %>

            <% end %>
        </div>
        

<% else %>

        onclick="getElementById('hidden-div').style.display = 'block'; this.style.display = 'none'"
 
                <%= form_with(url:  destroy_watchlist_path,method: :delete,local: true, data: { confirm: 'Are you sure?',id:'user_id'}) do |form| %>
                <%= form.hidden_field :name, value: watchlist.fetch(:ticker) %>
                <%= form.hidden_field :user_id, value: current_user.id %>
                <div class="actions">
                    <%= form.submit "Delete" %>
                </div>
                <% end %>
 

        <% end %>
<% end %>
<script type="text/javascript">

    $(document).ready(function(){
        $("#hide").click(function(){
            $("#watchlistButton").hide();
        });
    });
    // var button = document.getElementById('show_button')
    // button.addEventListener('click',hideshow,false);

    // function hideshow() {
    //     document.getElementById('hidden-div').style.display = 'block'; 
    //     this.style.display = 'none'
    // }   
</script>