<!DOCTYPE html>
<html>
  <head>
    <title>ROvIX</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# Font  %>
      <link href="https://fonts.googleapis.com/css?family=Flamenco" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">

    <%# Bootstrap %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <%# Jquery %>
    <%# <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

      <%= render partial:'navbar'%>

                  <% if flash.present? %>
                        <% flash.each do |name, msg| %>
                          <% if name == "notice" %>
                           <div class="alert alert-info text-center" role="alert">
                          <% elsif name == "alert" %>
                              <div class="alert alert-danger text-center" role="alert">
                            <% else %>                              
                                  <div class='alert alert-<%= "#{name}" %> text-center'>
                              <% end %>
                                   <b><%= msg %></b>
                                </div>                              
                            <% end %>
                      <% end %>
                          
    <%= yield %>
                           
                            
                             
                               
         
               
  </body>
</html>
